.button-inc{
    border: none;
    padding: 10px;
    padding-bottom: 10px;
    color: rgb(238, 222, 222);
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(38, 196, 59);
}
.button-dec{
    border: none;
    padding: 10px;
    padding-bottom: 10px;
    color: rgb(241, 227, 227);
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(168, 28, 28);
}
.button-save{
    border: none;
    padding: 10px;
    padding-bottom: 10px;
    color: rgb(235, 224, 224);
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: chocolate;
}
h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    ;}

    .diagonal-box {
        background-image: linear-gradient(45deg, #723c9e, #ff0099);
    } 
    .content { 	
        max-width: 50em;
        margin: 0 auto; 
    }
p{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}